

  *{
    margin: 0;
    padding: 0;
    background-color: #222222;
    box-sizing: border-box;
  }
  /* Content Css - Start */
  .image1{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
  }
  #image1 img {
    max-width: 100%;
    height: auto;
    margin-top: -60px;
  }
  #marvelLogo { 
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  #marvelLogo img {
    width: 32%;  
    height: auto;
    margin-top: -170px;
    background-color: transparent;
  }
  .contentContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
  }
  .contentMovie {
    width: 252px;
    height: 369px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 152px;
    display: flex;
    justify-content: center;
  }
  #contentImage {
    position: absolute;
    width: 216px;
    height: 324px;
    border-top: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin-top: -45px;
    display: flex;
    align-items: center;
  }
  .contentMovie div img{
    margin-top: 20px;
  }
  #title{
    margin-top: 310px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.09px;
    font-family: 'Roboto', sans-serif;
  }
  /* Content Css - End */
  
  /* Paginaiton Css - Start */
  .pagination{
    margin-top: 80px;
    margin-right: 110px;
    display: flex;
    justify-content: flex-end;
    height: 100px;
  }
  .pageNumbers{
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }  
  .pageNumbers li{
    width: 50px;
    height: 35px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7E7E7E;
    font-size: 20px;
  }
  .pageNumbers li.active{
    background: #7E7E7E;
    color: black;    
    border-radius: 15px;
  }
  .pageNumbers li button{
    background-color: transparent;
    border: none;
    color: #7E7E7E;
    font-size: 24px;
    cursor: pointer;   
  }
  
  .pageNumbers li button:hover{
    border-radius: 15px;
  }
  /* Paginaiton Css - End */
  
  /* Loaidng Css - Start */
  #loading {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 5px solid rgb(229 30 30 / 56%);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    position: fixed;
    top: 50%;
    left: 50%;
  }
  
  @keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  
  /* Loading Css - End */
  
  /* Responsive Design Laptop Device */
  @media only screen and (max-width:2000px){
    #contentImage{
        width: 216px;
        height: 340px;
    }
    #contentImage img{
        width: 216px;
        height: 340px;
        box-sizing: border-box;
    }
    .contentMovie{
        width: 260px;
        height: 400px;
    }
    #title{
        margin-top: 340px;
        font-weight: 400;
        font-size: 16px;
    }
  }
  
  /* Responsive Design Laptop Device */
  @media only screen and (max-width:996px){
    #contentImage{
        width: 140px;
        height: 240px;
    }
    #contentImage img{
        width: 140px;
        height: 240px;
        box-sizing: border-box;
    }
    .contentMovie{
        width: 170px;
        height: 280px;
    }
    #title{
        margin-top: 230px;
        font-weight: 400;
        font-size: 16px;
    }
    .pagination {
      display: flex;
      justify-content: center;
      margin-right: -200px;
    }
    
  }
  
  /* Responsive Design Tablet Device */
  @media only screen and (max-width:767px){
    #marvelLogo img {
        width: 32%;  
        height: auto;
        margin-top: -110px;
        background-color: transparent;
    }
    #contentImage{
        width: 200px;
        height: 350px;
    }
    #contentImage img{
        width: 200px;
        height: 350px;
        box-sizing: border-box;
    }
    .contentContainer {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin: auto;
    }
    .contentMovie{
        width: 240px;
        height: 420px;
        display: flex;
        justify-content: center;
    }
    #title{
        margin-top: 360px;
        font-weight: 400;
        font-size: 20px;
    }
  
    .pagination {
      display: flex;
      justify-content: center;
      background-color: #222;
      margin-right: 50px;
    }
  }
  
  /* Responsive Design Mobile Device */
  @media only screen and (max-width:545px){
    #marvelLogo img {
        width: 32%;
        height: auto;
        margin-top: -70px;
        background-color: transparent;
    }
    #contentImage{
        width: 150px;
        height: 200px;
    }
    #contentImage img{
        width: 150px;
        height: 230px;
        box-sizing: border-box;
    }
    .contentContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
    }
    .contentMovie{
        width: 200px;
        height: 260px;
    }
    .contentMovie div img {
        margin-top: 40px;
    }
    .pagination {
      margin-top: 80px;
      margin-right: 30px;
      display: flex;
      justify-content: flex-end;
      height: 100px;
  }
    #title{
        margin-top: 210px;
        font-weight: 400;
        font-size: 14px;
    }
  }